<%- include ('partials/header') %>
    <div class="bg-success p-4 bg-opacity-25">
        <div class="about-section">
            <h1>About</h1>
        </div>
    </div>
    <div class="abt-description">
        <p><%= aboutDesc %></p>
    </div>
<%- include ('partials/footer') %>
